
  <div class="page-header">
    <h1>Technical Analysis - Bearish</h1>
  </div>
  <div>
  <a class="btn btn-default" href="http://finviz.com/screener.ashx?v=111&f=fa_epsqoq_neg,fa_epsyoy1_neg,sh_avgvol_o100,sh_curvol_o100,ta_sma200_pb,ta_sma50_pb&ft=4">FinViz Bearish Screener</a>
</div>
<hr>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Fundamental - Sell Rules (STO) (Any will do)</h3>
        </div>

        <ul class="list-group">

          <li class="list-group-item">Overvalued </li>
          <li class="list-group-item">Hit by Very Bad News</li>
        </ul>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Buy Rules (BTO)</h3>
        </div>

        <ul class="list-group">
          <li class="list-group-item"><h4><strong>Short and Medium Term Downtrend</strong></h4>
          <p>
            Medium: 50SMA below 150SMA. Both sloping down.
          <br>
            Short: 20EMA below 40EMA.
          </p></li>
          <li class="list-group-item"><h4><strong>At least 2 out of 3 Bearish Indicators</strong></h4>
          <p>
            Parabolic SAR
          <br>
          Force Index
          <br>
          MACD (Red Above Black)
          </p></li>
          <li class="list-group-item"><h4><strong>No Strong Support</strong> </h4>
          <p>
            Less than 4 ATR away.
          </p>

          </li>
          <li class="list-group-item"><h4><strong>Price is near 50/150/200SMA.</strong> </h4>
          <p>
  Is a proven resistance for that stock.
          </p></li>
          <li class="list-group-item"><h4><strong>Breakdown from Consolidation / Rally on DownTrend / Reversal Pattern </strong> </h4>
          <p>
          See Below.
          </p></li>

        </ul>
      </div>
        <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Breakdown from Consolidation</h3>
        </div>
        <div class="panel-body"><p>

    <strong>Suport Tested at least 3 times.</strong>
    <br>
    Narrower and longer Consolidations usually mean stronger breakdowns.
    <br>
    <strong>Candle Body Opens and Closes Below the Support</strong>

        </p>

        <p>
          Buy Point 1: First Breakout
          <br>

        Buy Point 2: After it retraced and tested the support (now resistance).
        </p>
        </div>
        <div class="panel-footer">
  SELL Stop Limit order 3 cents below the LOW (Bullish) / Close (Bearish) of the Breakout Candle.
          <br>
  BUY Stop Loss 1 ATR above support.
        </div>
      </div>
      <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Rally on DownTrend</h3>
      </div>
      <div class="panel-body">
  Close to a (Proven) Support MA.
  <br>
  <strong>OR Breaking a Counter Trend Line Resistance</strong>
  <br>When the chart makes a long rally on the downtrend, draw a support line.
  <br>When the full body of a candle breaks the support, it's a SELL point.
      </div>
      <div class="panel-footer">
  Stop Loss 1 ATR above support.
      </div>
    </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Reversal</h3>
        </div>
        <div class="panel-body">
  50SMA cross below 150SMA
  <br>
  2 out of 3 Momentum indicators are bearish.
        </div>
        <div class="panel-footer">
  Stop Loss 1 ATR above Support.
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Buy to Cover Rules (BTC)</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4><strong>Cut Losses</strong> <span class="label label-warning">IMPORTANT</span></h4>
            <p>1 ATR above Key Resistance Line / Moving Average</p></li>
          <li class="list-group-item">
            <h4><strong>Stock Goes Into Uptrend</strong></h4>
            <p>20 Day EMA crosses above 40 Day EMA</p></li>
        </li>
        <li class="list-group-item">
          <h4><strong>Protecting Profits</strong></h4>
          <p>1. Trailing Stop Loss 2 ATR from the low <br>
          (When price extends far beyond the MA) </p>
        <p>2. When it hits a profit of 2R and one of the 3 indicators turn bullish
          <br>e.g.  MACD(black) below signal(red)</p>
        <p>  When the price hits a pre-determined profit target (1.5R, 2R, etc)</p>

        </li>
        </li>
        </ul>
      </div>
</div>
</div>
<hr>
