<div class="page-header">
  <h1>Bounce Strategy
    <small>Short Term</small></h1>
</div>
<h4 class="text-center"><strong>First do Fundamental Analysis for Steps 2 and
  3.</strong>
  Just treat this as another entry point.</h4>
  <br>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h3 class="panel-title">Entry Criteria</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4><strong>Fundamental Analysis</strong></h4>
          <p>
            Must satisfy Steps 2 and 3 of WA 10 Steps.
          </p>
        </li>
        <li class="list-group-item">
          <h4><strong>Candle Reversal Pattern
            </strong>
          </h4>
          <p>
            1. Body is above Support
            <br>
              2. Tail cuts through previous low (tail)
              <br>
                3. Tail cuts through MA support
              </p>
            </li>
            <li class="list-group-item">
              <h4><strong>Moving Averages</strong></h4>
              <p>
                <strong>EMA: 20, 40 | SMA: 50, 100, 150, 200</strong>
                <br>
                  All MAs must be intact (Shorter Term above Longer Term), and sloping up.
                  <br>
                    Candle reversal pattern ONLY take place on the
                    <strong>50, 100, 150, 200 SMA.</strong>
                  </p>
                </li>
                <li class="list-group-item">
                  <h4><strong>Full Stochastic Indicator</strong></h4>
                  <p>
                    Full Stochastics (5, 3, 3) | Period: 5, %K: 3, %D: 3
                    <br>
                      <strong>
                        BOTH %K and % D lines are BELOW the 30 level</strong>
                      <br>
                        BONUS: %K line crosses above the %D line
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">Opening and Closing Positions</h3>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h4><strong>Opening Positions</strong></h4>
                    <p>
                      <strong>BUY STOP ORDER:</strong> A few cents above trigger candle.
                      <br>
                      <strong>STOP LOSS SELL order (Cut Loss):</strong> A
                      few cents below trigger candle.
                      <br>
                      <strong>SELL LIMIT ORDER (Take Profit):</strong>2.5R above buy order distance

                    </p>
                      <p>
                        NOTE: Purchase Price to Stop Loss (AKA 1R) must be at least 1*ATR.
                      </p>
                    </li>
                  </li>
                  <li class="list-group-item">
                    <h4><strong>Closing Position</strong></h4>
                    <p>Usually Position will close by itself.
                      <br>
                        But the body of subsequent candles cuts below the MA, it becomes invalid. Just close the position!
                      </p>

                    </li>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
