
<div class="page-header">
  <h1>Technical Analysis - Bullish</h1>
</div>
<div>
<a class="btn btn-default" href="http://finviz.com/screener.ashx?v=111&f=fa_eps5years_o5,fa_epsqoq_pos,fa_epsyoy_o5,fa_epsyoy1_o5,fa_estltgrowth_o5,fa_grossmargin_pos,fa_netmargin_pos,fa_opermargin_pos,fa_roa_pos,fa_roe_pos,fa_roi_pos,fa_sales5years_o5,fa_salesqoq_pos,geo_usa&ft=4">FinViz Bullish Screener</a>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Buy Rules (BTO)</h3>
      </div>



      <ul class="list-group">
        <li class="list-group-item"><h4><strong>Short and Medium Term Uptrend</strong></h4>
        <p>
          Medium: 50SMA above 150SMA. Both sloping up.
        <br>
          Short: 20EMA above 40EMA.
        </p></li>
        <li class="list-group-item"><h4><strong>At least 2 out of 3 Bullish Indicators</strong></h4>
        <p>
          Parabolic SAR
        <br>
        Force Index
        <br>
        MACD (Black Above Red)
        </p></li>
        <li class="list-group-item"><h4><strong>No Strong Resistance</strong> </h4>
        <p>
          Less than 4 ATR away.
        </p>

        </li>
        <li class="list-group-item"><h4><strong>Price is near 50/150/200SMA.</strong> </h4>
        <p>
Is a proven support for that stock.
        </p></li>
        <li class="list-group-item"><h4><strong>Breakout / Dip on Uptrend / Reversal Pattern </strong> </h4>
        <p>
        See Below.
        </p></li>

      </ul>
    </div>
      <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Breakout</h3>
      </div>
      <div class="panel-body"><p>

  <strong>Resistance Tested at least 3 times.</strong>
  <br>
  Narrower and longer Consolidations usually mean stronger breakouts.
  <br>
  <strong>Candle Body Opens and Closes Above the Resistance</strong>

      </p>

      <p>
        Buy Point 1: First Breakout
        <br>

      Buy Point 2: After it retraced and tested the resistance.
      </p>
      </div>
      <div class="panel-footer">
BUY Stop Limit order 3 cents above the High (Bearish) / Close (Bullish) of the Breakout Candle.
        <br>
Stop Loss 1 ATR below resistance.
      </div>
    </div>
    <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Dip on Uptrend</h3>
    </div>
    <div class="panel-body">
Close to a (Proven) Support MA.
<br>
<strong>OR Breaking a Counter Trend Line Resistance</strong>
<br>When the chart makes a long dip on the uptrend, draw a resistance line.
<br>When the full body of a candle breaks the resistance, it's a BUY point.
    </div>
    <div class="panel-footer">
Stop Loss 1 ATR below resistance.
    </div>
  </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Reversal</h3>
      </div>
      <div class="panel-body">
50SMA cross over 150SMA
<br>
2 out of 3 Momentum indicators are bullish.
      </div>
      <div class="panel-footer">
Stop Loss 1 ATR below resistance.
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Sell Rules (STC)</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4><strong>Cut Losses</strong> <span class="label label-warning">IMPORTANT</span></h4>
          <p>1 ATR below Key Support Line / Moving Average</p></li>
        <li class="list-group-item">
          <h4><strong>Stock Goes Into Downtrend</strong></h4>
          <p>20 Day EMA below 40 Day EMA</p></li>
      </li>
      <li class="list-group-item">
        <h4><strong>Protecting Profits</strong></h4>
        <p>1. Trailing Stop Loss 2 ATR from the high <br>
        (When price extends far beyond the MA) </p>
      <p>2. When it hits a profit of 2R and one of the 3 indicators turn bearish
        <br>e.g.  MACD(black) below signal(red)</p>
      <p>  When the price hits a pre-determined profit target (1.5R, 2R, etc)</p>

      </li>
      </li>
      </ul>
    </div>
  </div>
</div>
<hr>
