
<div class="page-header">
  <h1>Calculators</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Position Sizing</h3>
      </div>
      <table class='table table-striped table-bordered table-hover table-condensed'>
        <tbody>
          <tr>
            <td><h4>Portfolio Size (Capital):</h4></td>
            <td>
              <input class="form-control" ng-model="p.capital" type="text">
            </td>
          </tr>
          <tr>
            <td><h4>% Risk per Trade:</h4></td>
            <td>
              <input class="form-control" ng-model="p.riskTrade" type="text">
            </td>
          </tr>
          <tr>
            <td><h4>$ Risk per Share:</h4></td>
            <td>
              <input class="form-control" ng-model="p.riskShare" type="text">
            </td>
          </tr>
          <tr>
            <td><h4>Number of Positions:
              </h4>
            </td>
            <td>
              <h4>{{positionSizing(p.capital,p.riskTrade,p.riskShare)}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Risk to Reward Ratio</h3>
      </div>
      <table class='table table-striped table-bordered table-hover table-condensed'>
        <tbody>
          <tr>
            <td><h4>Target Price (Profit Target):</h4></td>
            <td>
              <input class="form-control" ng-model="r.profitTarget" type="text">
            </td>
          </tr>
          <tr>
            <td><h4>Current Price:</h4></td>
            <td>
              <input class="form-control" ng-model="r.currentPrice" type="text">
            </td>
          </tr>
          <tr>
            <td><h4>Stop Loss:</h4></td>
            <td>
              <input class="form-control" ng-model="r.stopLoss" type="text">
            </td>
          </tr>
          <tr>
            <td><h4>Reward to Risk Ratio:
                <br><small>Should be> 1</small></h4>
              </td>
              <td>
                <h4>{{rewardToRisk(r.profitTarget,r.currentPrice,r.stopLoss)}}
                </h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
