<div class="page-header">
  <h1>Earnings Probability Game
    <small>Short Term, Bullish</small></h1>
</div>
<h4 class="text-center"><strong>Expected Results: 15-30% per Quarter</strong>
</h4>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Screening Criteria</h3>
        </div>cudd
        <ul class="list-group">
          <li class="list-group-item">
            <h4><strong>1. Zacks Screenings</strong></h4>
            <p>
              ESP (<strong>Earnings Surprise Prediction</strong>) > 3%<br>
              Zacks Rank 1 or 2
              <br>Average Volume above 100,000 shares
                <br>Positive surprise in the last quarter
                </p>
              </li>

                <li class="list-group-item">
                  <h4><strong>2. Stock Is On Uptrend
                    </strong>
                  </h4>
                  <p>
                    Stock is on Clear Uptrend
                    <br>
                    Go to <a href="http://www.chartmill.com">ChartMill.com</a> and filter out those which are not on uptrend.
                  </p>
                </li>
                <li class="list-group-item">
                  <h4><strong>3. Sort By Date (Which will come first?)
                    </strong>
                  </h4>
                  <p>
                    Take note of the time when the earnings will be released.
                    <br>(Before Market opens or After Market Closes?)
                    <br>
                    If Earnings release before Market Opens, then buy the day before.
                    <br>
                    If Earnings release after Market Closes, then buy on the day itself.
                    </p>
                  </li>
                <li class="list-group-item">
                  <h4><strong>IMPORTANT!!
                    </strong>
                  </h4>
                  <p>
                    Before buying, check the latest ESP and Zacks Rank as it may change frequently.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Opening and Closing Positions</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <h4><strong>Opening Positions</strong>
                  </h4>
                  <p>
                    <strong>Place orders one day before earnings are released!</strong>
                  </p>
                  <p>
                    <strong>BUY MOC (market on close)</strong> + Bracket Order (See Below)

                    <br>
                      <strong>STOP LOSS order (Cut Loss):</strong>
                      1 ATR below purchase price
                      <br>
                      <em>(*Average ATR over past 6 months. NOT highest ATR.)</em>
                      <br>
                        <strong>SELL LIMIT ORDER (Take Profit):</strong> 2 ATR above the purchase price
                      </p>
<p>
  Adam: Opens position (on Mobile App) with MOC the night before, and before market opens, edit the Stop Loss and Take Profit Order.
</p>
                    </li>
                  </li>
                  <li class="list-group-item">
                    <h4><strong>Closing Position</strong></h4>
                    <p>Wait for Price to Hit Either Stop Loss or Profit target within 2 Days
</p>
                    <p>
                      <strong>OPTIONAL: </strong>
                      If the price moves 1R In the Money, Raise Stop Loss to Breakeven Point.
                    </p>

                      <p>


                        <strong>IMPORTANT: </strong>
                        In 2 days, if the Price does not hit Profit Target or Stop Loss, Exit Manually.
                        </p>
                    </li>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="page-header">
            <h1>Zacks QuickLink <small>Type in Ticker and Press Go!</small></h1>
          </div>
          <h4 class="text-center"><strong>Check for ESP and Zacks Rank</strong>
          </h4>
          <div class="col-md-3">

            <div class="input-group">
              <input class="form-control" ng-model="tickerEPS" placeholder="Input Stock Ticker."
              type="text">


              <span class="input-group-btn">
              <a class="btn btn-default" ng-href="http://www.zacks.com/stock/quote/{{tickerEPS | uppercase}}?q={{tickerEPS | lowercase}}">GO!</a>

              </span>
            </div>
          </div>
