
<div class="page-header">
  <h1>Fundamental Analysis</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Input Stock Ticker Here</h3>
     <form name="tickerSearch" ng-submit="getExchange(ticker)">
    <div class="input-group">
      <input class="form-control" ng-model="ticker" placeholder="Input Stock Ticker."
      type="text">

    
      <span class="input-group-btn">
        <input class="btn btn-default" ng-click="getExchange(ticker)" type="submit" value="GO!"></input>
      </span>
    </div>
    </form>
  </div>
  <!--col md-->
  <div class="col-md-6">
  </div>
  <!--col md-->
</div>
<stockdetails></stockdetails>
