
<h3>Long Term Indicators</h3>
<div class="row">
<div class="col-md-6">
<div class="panel panel-yellow">
<div class="panel-heading">
<h3 class="panel-title">Conservative Debt</h3>
</div>
<div class="panel-body">

</div>
<div class="panel-footer">

</div>
</div>
<hr>
<div class="panel panel-yellow">
<div class="panel-heading">
<h3 class="panel-title">Healthy Cashflow</h3>
</div>
<div class="panel-body">

</div>
<div class="panel-footer">

</div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-purple">
<div class="panel-heading">
<h3 class="panel-title">Insiders Holding or Buying Stock (Bullish)</h3>
</div>
<div class="panel-body">

</div>
<div class="panel-footer">

</div>
</div>
<hr>
<div class="panel panel-purple">
<div class="panel-heading">
<h3 class="panel-title">Risks Well Managed</h3>
</div>
<div class="panel-body">

</div>
<div class="panel-footer">

</div>
</div>
</div>

</div>
