
<div class="page-header">
  <h1>EPS Updating Method
    <small>The Easy Way</small>
  </h1>
</div>
<hr>
<p>
  After screening and finding stocks which have solid fundamentals for the past 4 Years (Step 2).
  <br>
  As well as good EPS numbers (Step 3), it is important to ensure that those EPS numbers stay healthy as subsequent earnings are released.
</p>

<p>
  Hence, this method.
</p>

<ul>
  <li>Search on Finviz (<a href="http://finviz.com/screener.ashx?v=111&f=fa_eps5years_pos,fa_epsqoq_pos,fa_epsyoy_pos,fa_epsyoy1_pos,fa_estltgrowth_pos">FinViz EPS Screener</a>) for Positive EPS Growth This Year, Next Year, Past 5 Years and Next 5 Years.</li>
  <li>Compare the existing watchlist with the Finviz list</li>
  <li>If a stock on the watchlist does not appear on the FinViz list, re-examine it or kick it out.</li>
</ul>

<div class="panel panel-yellow">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>


</div>
