<div class="text-center">
  <div class="btn-group" data-toggle="buttons">

    <label class="btn btn-success" >
      <input type="radio" value="bull" ng-model="bullBearToggle" autocomplete="off"> Bullish Strategy
    </label>
    <label class="btn btn-danger">
      <input type="radio" value="bear" ng-model="bullBearToggle" autocomplete="off"> Bearish Strategy
    </label>
  </div>

</div>

<div ng-if="bullBearToggle=='bear'" ng-include="'partials/bearishTA.html'"></div>
<div ng-if="bullBearToggle=='bull'" ng-include="'partials/bullishTA.html'"></div>
