<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<title>Stocks App</title>
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/app.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="lib/angular/underscore-min.js"></script>
	<script src="main.js"></script>
	<script src="lib/Chart.js/Chart.min.js"></script>
	<script src="lib/angular-chart.js/dist/angular-chart.js"></script>
	<link rel="stylesheet" href="lib/angular-chart.js/dist/angular-chart.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="WATenController">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Stocks Project</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#wa10">WA10</a></li>
					<li><a href="#momentum">Momentum</a></li>
					<li><a href="#bounce">Bounce</a></li>
					<li><a href="#short">Short</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#calculator">Calculators</a></li>
					<li><a href="#updates">Updates</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h1>WA
				<span ng-bind="5+1"></span> Steps</h1>
			<p>
				For Short To Medium Term Trends 

			</p>

			<p><a class="btn btn-default btn-md" href="#" role="button">Learn more</a></p>
		</div>
		<div class="page-header">
			<h1>Stock Screener Results
				<small>Powered By FinViz</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Momentum Stocks - Bullish</h3>
					</div>

					<table class='table table-striped table-bordered table-hover table-condensed' ng-if="showFinVizBull">
						<thead>
							<tr>
								<th>No.</th>
								<th>
									Ticker
								</th>
								<th>
									Company
								</th>
								<th>
									Sector
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="stock in finvizBullOne.results">

								<td>
									<span ng-bind="$index+1"></span>
								</td>
								<td>
									<span ng-bind="stock.ticker"></span>
								</td>
								<td>
									<span ng-bind="stock.company"></span>
								</td>
								<td>
									<span ng-bind="stock.sector"></span>
								</td>
							</tr>
							<tr ng-repeat="stock in finvizBullTwo.results">

								<td>
									<span ng-bind="$index+21"></span>
								</td>
								<td>
									<span ng-bind="stock.ticker"></span>
								</td>
								<td>
									<span ng-bind="stock.company"></span>
								</td>
								<td>
									<span ng-bind="stock.sector"></span>
								</td>
							</tr>
							<tr ng-repeat="stock in finvizBullThree.results">

								<td>
									<span ng-bind="$index+41"></span>
								</td>
								<td>
									<span ng-bind="stock.ticker"></span>
								</td>
								<td>
									<span ng-bind="stock.company"></span>
								</td>
								<td>
									<span ng-bind="stock.sector"></span>
								</td>
							</tr>
							<tr ng-repeat="stock in finvizBullFour.results">

								<td>
									<span ng-bind="$index+61"></span>
								</td>
								<td>
									<span ng-bind="stock.ticker"></span>
								</td>
								<td>
									<span ng-bind="stock.company"></span>
								</td>
								<td>
									<span ng-bind="stock.sector"></span>
								</td>
							</tr>
							<tr ng-repeat="stock in finvizBullFive.results">

								<td>
									<span ng-bind="$index+81"></span>
								</td>
								<td>
									<span ng-bind="stock.ticker"></span>
								</td>
								<td>
									<span ng-bind="stock.company"></span>
								</td>
								<td>
									<span ng-bind="stock.sector"></span>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Momentum Stocks - Bearish</h3>
					</div>

					<table class='table table-striped table-bordered table-hover table-condensed'>
						<thead>
							<tr>
								<th>No.</th>
								<th>
									Ticker
								</th>
								<th>
									Company
								</th>
								<th>
									Sector
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>



		<div class="page-header">
			<h1>Fundamental Analysis</h1>

		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Input Stock Ticker Here</h3>

				<input ng-model="ticker" type="text" class="form-control" placeholder="Input Stock Ticker.">


			</div>
			<!--col md-->
			<div class="col-md-6">
				<h3>Stock Exchange</h3>
				<div class="input-group">
					<input ng-model="exchange" type="text" class="form-control" placeholder="Input Stock Ticker.">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="getData(ticker, exchange)">Go!</button>
					</span>
				</div>
				<!-- /input-group -->
			</div>
			<!--col md-->
		</div>
		<h3>Short Term</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Profits</h3>
					</div>
					<div class="panel-body">
						<h4>Consistent Increase in Sales, Net Income, and CashFlow from Operations</h4>


					</div>
					<table class='table table-striped table-bordered table-hover table-condensed'>
						<thead>
							<tr>
								<th>Data</th>
								<th>
									Y1
								</th>
								<th>
									Y2
								</th>
								<th>
									Y3
								</th>
								<th>
									Y4
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Sales</td>

								<td ng-repeat="netY in incomeA.net_income">
									<span ng-bind="netY"></span>
								</td>


							</tr>
							<tr>
								<td>Net Income</td>

								<td ng-repeat="rev in incomeA.revenues">
									<span ng-bind="rev"></span>
								</td>
							</tr>
							<tr>
								<td>
									Operating Cashflow - Annual
								</td>
								<td ng-repeat="ocf in cashflowA.cf_o">
									<span ng-bind="ocf"></span>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<table class='table table-striped table-bordered table-hover table-condensed'>
						<thead>
							<tr>
								<th>Data</th>
								<th>
									Q1
								</th>
								<th>
									Q2
								</th>
								<th>
									Q3
								</th>
								<th>
									Q4
								</th>
							</tr>
						</thead>
						</thead>
						<tbody>
							<tr>
								<td>Operating Cashflow - Quarterly</td>
								<td ng-repeat="ocf in cashflowQ.cf_o">
									<span ng-bind="ocf"></span>

								</td>
							</tr>
							<tr>


							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Future Growth Drivers</h3>
					</div>
					<div class="panel-body">
						<h4>LT Growth Rate/EPS positive for next 5 years Rising Earnings Estimates and EPS revisions (BONUS: >10% Growth rate)</h4>
					</div>
					<table class='table table-striped table-bordered table-hover table-condensed'>
						<thead>
							<tr>
								<th>Data</th>
								<th>
									No. of Est.
								</th>
								<th>
									Mean
								</th>
								<th>
									High
								</th>
								<th>
									Low
								</th>
								<th>
									1 Year Ago
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>LT Growth Rate (%)</td>
								<td ng-repeat="ltg in reutersFinancial.ltgrowth">
									<span ng-bind="ltg"></span>
								</td>
							</tr>
						</tbody>
					</table>

					<hr>
					<table class='table table-striped table-bordered table-hover table-condensed'>
						<thead>
							<tr>
								<th>Data</th>
								<th>
									Company
								</th>
								<th>
									Industry
								</th>
								<th>
									Sector
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>EPS Next 5 Yr</td>
								<td ng-repeat="eps5 in reutersFinancial.eps5year">
									<span ng-bind="eps5"></span>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<table class='table table-striped table-bordered table-hover table-condensed'>
						<thead>
							<tr>
								<th>Data</th>
								<th>
									Current Q
								</th>
								<th>
									Next Q
								</th>
								<th>
									Current Year
								</th>
								<th>
									Next Year
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Earnings Estimates
								</td>
								<td ng-repeat="earnings in yahoo.earnings_est">
									<span ng-bind="earnings"></span>
								</td>
							</tr>
							<tr>
								<td>

								</td>
							</tr>
							<tr>
								<td>
									EPS Rev. - Up Last 7 Days
								</td>
								<td ng-repeat="eup7 in yahoo.eps_revisions_up7">
									<span ng-bind="eup7"></span>
								</td>
							</tr>
							<tr>
								<td>
									EPS Rev. - Up Last 30 Days
								</td>
								<td ng-repeat="eup30 in yahoo.eps_up30">
									<div ng-bind="eup30">
										</span>
								</td>
							</tr>
							<tr>
								<td>
									EPS Rev. - Down Last 30 Days
								</td>
								<td ng-repeat="edown30 in yahoo.eps_rev_down30">
									<span ng-bind="edown30"></span>
								</td>
							</tr>
							<tr>
								<td>
									EPS Rev. - Down Last 90 Days
								</td>
								<td ng-repeat="edown90 in yahoo.
eps_rev_down90">
									<span ng-bind="edown90"></span>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>

			<h3>Medium Term</h3>

			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Sustainable Competitive Advantage</h3>
						</div>
						<div class="panel-body">

							<h4>Gross Margins and Net Margins highest in Industry (Higher than industry and sector)</h4>
						</div>
						<table class='table table-striped table-bordered table-hover table-condensed'>
							<thead>
								<tr>
									<th>Data</th>
									<th>
										Company
									</th>
									<th>
										Industry
									</th>
									<th>
										Sector
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Gross Margins</td>
									<td ng-repeat="gm in reutersFinancial.grossmargin">
										<span ng-bind="gm"></span>
									</td>
								</tr>
								<tr>
									<td>
										Net Margins
									</td>
									<td ng-repeat="nm in reutersFinancial.netmargin">
										<span ng-bind="nm"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Return on Equity</h3>
						</div>
						<div class="panel-body">
							<h4>ROE > 12-15%</h4>
						</div>
						<table class='table table-striped table-bordered table-hover table-condensed'>
							<thead>
								<tr>
									<th>Data</th>
									<th>
										Company
									</th>
									<th>
										Industry
									</th>
									<th>
										Sector
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>ROE</td>
									<td ng-repeat="roe in reutersFinancial.roe">
										<span ng-bind="roe"></span>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Undervalued Stock (Calculate IV)</h3>
						</div>
						<div class="panel-body">
							<h4>Price of stock is lower than Intrinsic Value (IV).</h4>
						</div>
						<table class='table table-striped table-bordered table-hover table-condensed'>
							<thead>
								<tr>
									<th>Data</th>
									<th>
										Results
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Price</td>
									<td>
										<span ng-bind="reutersOverview.price"></span>
									</td>
								</tr>
								<tr>
									<td>
										IV
									</td>
									<td>
										<span ng-bind="sum(discountValue(projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5),discountArrayFn(discountRate(reutersFinancial.beta))))/reutersOverview.shares_outstanding - sumDebt(balanceSheetQ.st_borrow,balanceSheetQ.lt_debt)/reutersOverview.shares_outstanding + lastNum(balanceSheetQ.cash_sti)/reutersOverview.shares_outstanding |number: 2"></span>
									</td>
								</tr>
								<tr>
									<td>
										Delta (%)
									</td>
									<td>
										<span ng-bind="((sum(discountValue(projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5),discountArrayFn(discountRate(reutersFinancial.beta))))/reutersOverview.shares_outstanding - sumDebt(balanceSheetQ.st_borrow,balanceSheetQ.lt_debt)/reutersOverview.shares_outstanding + lastNum(balanceSheetQ.cash_sti)/reutersOverview.shares_outstanding) - reutersOverview.price)/(reutersOverview.price) | percentage: 2"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<h3>Intrinsic Value Calculator</h3>
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Intrinsic Value</h3>
				</div>
				<div class="panel-body">
					<strong>Operating Cash Flow: </strong>
					<span ng-bind="sum(cashflowQ.cf_o)"></span>
					<br>
					<strong>Total Debt: </strong>
					<span ng-bind="sumDebt(balanceSheetQ.st_borrow,balanceSheetQ.lt_debt)"></span>
					<br>

					<strong>Cash and Equivalents: </strong>
					<span ng-bind="lastNum(balanceSheetQ.cash_sti)"></span>
					<br>
					<strong>CF Growth Rate (Y1-3):</strong>
					<span ng-bind="reutersFinancial.ltgrowth[3]"></span> -
					<span ng-bind="reutersFinancial.ltgrowth[1]"></span> -
					<span ng-bind="reutersFinancial.ltgrowth[2]"></span>
					<br>
					<strong>CF Growth Rate (Y4-10):</strong> Set at 5%
					<br>
					<strong>No. of Shares Outstanding: </strong>
					<span ng-bind="reutersOverview.shares_outstanding"></span> millions
					<br>
					<strong>Discount Rate: </strong>
					<span ng-bind="discountRate(reutersFinancial.beta)"></span>
					<hr>
					<strong>Present Value of 10 Yr Cashflow: </strong>
					<span ng-bind="sum(discountValue(projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5),discountArrayFn(discountRate(reutersFinancial.beta)))) | number: 2"></span>
					<br>
					<strong>PV of OCF Per Share: </strong>
					<span ng-bind="sum(discountValue(projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5),discountArrayFn(discountRate(reutersFinancial.beta))))/reutersOverview.shares_outstanding | number: 2"></span>
					<br>
					<strong>Debt Per Share:</strong>
					<span ng-bind="sumDebt(balanceSheetQ.st_borrow,balanceSheetQ.lt_debt)/reutersOverview.shares_outstanding"></span>
					<br>
					<strong>Cash and Equivalents Per Share: </strong>
					<span ng-bind="lastNum(balanceSheetQ.cash_sti)/reutersOverview.shares_outstanding | number: 2"></span>
					<br>
					<h4>
						<strong>Final Intrinsic Value: </strong>
						<span ng-bind="sum(discountValue(projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5),discountArrayFn(discountRate(reutersFinancial.beta))))/reutersOverview.shares_outstanding - sumDebt(balanceSheetQ.st_borrow,balanceSheetQ.lt_debt)/reutersOverview.shares_outstanding + lastNum(balanceSheetQ.cash_sti)/reutersOverview.shares_outstanding |number: 2"></span>
					</h4>
				</div>
				<table class='table table-striped table-bordered table-hover table-condensed'>
					<thead>
						<tr>
							<th>Data</th>
							<th ng-repeat="num in [1,2,3,4,5,6,7,8,9,10]">
								Year
								<span ng-bind="num"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Proj. Cashflow</td>

							<td ng-repeat="num in projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5)">
								<span ng-bind="num | number:0"></span>
							</td>
						</tr>
						<tr>
							<td>
								Discount Factor
							</td>
							<td ng-repeat="num in discountArrayFn(discountRate(reutersFinancial.beta))">
								<span ng-bind="num | number:2"></span>
							</td>
						</tr>
						<tr>
							<td>
								Discount Value
							</td>
							<td ng-repeat="num in discountValue(projectedCF(sum(cashflowQ.cf_o),reutersFinancial.ltgrowth[3],5),discountArrayFn(discountRate(reutersFinancial.beta)))">
								<span ng-bind="num | number:2"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-header">
				<h1>Technical Analysis</h1>
			</div>
			<div class="row">

			</div>

		</div>



</body>

</html>
