<div class="well well-md" id="piv">
<h2>IV Calculator</h2>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">IV</h3>
      </div>
      <div class="panel-body">
{{ivObject | json}}
<br>

        Operating Cash Flow: {{ivObject.cashflow}}
        <br>
        Total Debt:
        <br>
        Cash and Equivalents:
        <br>
        EPS Growth (Last 5 Years):
        <br>
        CF Growth Rate (Y1-3):
        <br>
        CF Growth Rate (Y4-10): 0-5-10%
        <br>
        No. of Shares Outstanding: millions
        <br>
        Discount Rate: NaN
        <br>
        Present Value of 10 Yr Cashflow:
        <br>
        PV of OCF Per Share:
        <br>
        Debt Per Share:
        <br>
        Cash and Equivalents Per Share:
        <br>
        Final Intrinsic Value:
        <br>
      </div>
      <div class="panel-footer">
        <canvas id="line" class="chart chart-line" data="chartArray" series="series"
        labels="labels"></canvas>
      </div>
    </div>
  </div>
</div>

</div>
